In [6]:
import pandas as pd
import numpy as np

In [7]:
dataset_feature_names=[     'amount_usd',      
                            'client_age',
                           'client_gender__',
                          'client_gender__F',
                          'client_gender__M',
                            'debit_type__TC',
                            'debit_type__TD',
                          'agency_region__0',
                          'agency_region__1',
                          'agency_region__2',
                          'agency_region__3',
                          'agency_region__4',
                          'agency_region__5',
                          'agency_region__6',
                          'agency_region__7',
                          'agency_region__8',
                          'agency_region__9',
                         'agency_region__10',
                         'agency_region__11',
                         'agency_region__12',
                  'merchant_departement__99',
            'merchant_departement__AMAZONAS',
              'merchant_departement__ANCASH',
            'merchant_departement__APURIMAC',
            'merchant_departement__AREQUIPA',
            'merchant_departement__AYACUCHO',
           'merchant_departement__CAJAMARCA',
              'merchant_departement__CALLAO',
               'merchant_departement__CUSCO',
        'merchant_departement__HUANCAVELICA',
             'merchant_departement__HUÁNUCO',
                 'merchant_departement__ICA',
               'merchant_departement__JUNIN',
         'merchant_departement__LA LIBERTAD',
          'merchant_departement__LAMBAYEQUE',
                'merchant_departement__LIMA',
              'merchant_departement__LORETO',
       'merchant_departement__MADRE DE DIOS',
            'merchant_departement__MOQUEGUA',
               'merchant_departement__PASCO',
               'merchant_departement__PIURA',
                'merchant_departement__PUNO',
          'merchant_departement__SAN MARTIN',
               'merchant_departement__TACNA',
              'merchant_departement__TUMBES',
             'merchant_departement__UCAYALI',
                              'social_class']

In [10]:
#read dataset
df = pd.read_csv('../data_output/balanced.csv',header=None,names=dataset_feature_names)
y=np.asarray(df['social_class'])
X=np.asarray(df.iloc[:,0:-1])
df.head()

,amount_usd,client_age,client_gender__,client_gender__F,client_gender__M,debit_type__TC,debit_type__TD,agency_region__0,agency_region__1,agency_region__2,...,merchant_departement__MADRE DE DIOS,merchant_departement__MOQUEGUA,merchant_departement__PASCO,merchant_departement__PIURA,merchant_departement__PUNO,merchant_departement__SAN MARTIN,merchant_departement__TACNA,merchant_departement__TUMBES,merchant_departement__UCAYALI,social_class
0,0.000467,0.355140,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0.000962,0.355140,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0.000452,0.276190,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0.001985,0.514019,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0.002517,0.467290,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Class distribution

In [11]:
df.social_class.value_counts()/df.social_class.count()

1    0.5
0    0.5
Name: social_class, dtype: float64